.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/*
!.idea/codeStyles/
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
/out
*.iws
*.iml
*.ipr

.DS_Store

applicationinsights-agent-*.jar
*.log
